<?xml version="1.0"?>

<model>
    <name>car</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>

    <author>
        <name>Juan Mendez</name>
        <email>ja.mendez@uniandes.edu.co</email>
    </author>
    
    <description>
        A simple toy car.
    </description>
</model>