<?xml version="1.0" ?>
<robot name="car" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find car_description)/urdf/materials.xacro" />
<xacro:include filename="$(find car_description)/urdf/car.trans" />
<link name="base_link">
  <inertial>
    <origin xyz="1.0161376409608881e-16 -0.00018301107250346684 0.019921769525778" rpy="0 0 0"/>
    <mass value="0.9441386315697112"/>
    <inertia ixx="0.001045" iyy="0.000193" izz="0.001109" ixy="0.0" iyz="1.4e-05" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://car_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://car_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>
<link name ="dummy">
</link>
<joint name="dummy_joint" type="fixed">
     <parent link="dummy"/>
     <child link="base_link"/>
</joint>

<gazebo reference="base_link">
  <material>Gazebo/Red</material>
  <mu1>0.2</mu1>
  <mu2>0.2</mu2>
  <selfCollide>true</selfCollide>
  <gravity>true</gravity>
</gazebo>

</robot>
