<?xml version="1.0" ?>
<robot name="car" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find car_description)/urdf/materials.xacro" />
<xacro:include filename="$(find car_description)/urdf/car.trans" />
<xacro:include filename="$(find car_description)/urdf/car.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-1.3149495592561766e-06 -8.379283819793052e-05 0.019418162162241057" rpy="0 0 0"/>
    <mass value="0.13498751369293807"/>
    <inertia ixx="0.000152" iyy="3e-05" izz="0.000165" ixy="-0.0" iyz="2e-06" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://car_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://car_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>
<link name ="dummy">
</link>
 <joint name="dummy_joint" type="fixed">
     <parent link="dummy"/>
     <child link="base_link"/>
  </joint>

</robot>
